.project_card {
    padding: 1em;
    border: 1px solid black;
    border-radius: 5px;
    width: 24%;
    margin: 1%;
    background-color: #cccccc;
}

.project_card h1 {
    background-color: #222;
    color: #5EB2FC;
    padding: 0.4em;
    margin-bottom: 1.3em;
    font-size: 1.3em;
    border-radius: 35px;
    text-align: center;
}

.project_card p {
    color: #222;
    margin-bottom: 1em;
}

.project_card p span {
    font-weight: bold;
}

.project_card_actions {
    margin-top: 1.2em;
    display: flex;
    align-items: center;
}

.project_card_actions a,
.project_card_actions button {
    text-decoration: none;
    border: none;
    background-color: #FFF;
    color: #222;
    font-size: .9em;
    padding: 0.6em 1em;
    margin-right: 1em;
    cursor: pointer;
    border: 1px solid #222;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
    width: 100px !important;
    margin-top: 1.5em;
    border-radius: 6px;
}

.project_card_actions buttonConfirm {
    text-decoration: none;
    border: none;
    background-color: #FFF;
    color: #222;
    font-size: .9em;
    padding: 0.6em 1em;
    margin-right: 1em;
    cursor: pointer;
    border: 1px solid #222;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
    width: 120px !important;
    margin-top: 1.5em;
    border-radius: 6px;
}

.project_card_actions buttonConfirmProject {
    text-decoration: none;
    border: none;
    background-color: #FFF;
    color: #222;
    font-size: .9em;
    padding: 0.6em 1em;
    margin-right: 1em;
    margin-left: 160px;
    cursor: pointer;
    border: 1px solid #222;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
    width: 50px !important;
    margin-top: 1.5em;
    border-radius: 6px;
}

.project_card_actions buttonRemoveProject {
    text-decoration: none;
    border: none;
    background-color: #FFF;
    color: #222;
    font-size: .9em;
    padding: 0.6em 1em;
    margin-right: 1em;
    margin-left: 1px;
    cursor: pointer;
    border: 1px solid #222;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
    width: 50px !important;
    margin-top: 1.5em;
    border-radius: 6px;
}


.project_card_actions buttonRemove {
    text-decoration: none;
    border: none;
    background-color: #FFF;
    color: #222;
    font-size: .9em;
    padding: 0.6em 1em;
    margin-right: 1em;
    margin-left: 200px;
    cursor: pointer;
    border: 1px solid #222;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
    width: 50px !important;
    margin-top: 1.5em;
    border-radius: 6px;
}

.project_card_actions svg {
    margin-right: 0.5em;
}

.project_card_actions a:hover {
    background-color: #222;
    color: #5EB2FC;
}
.project_card_actions button:hover {
    background-color: #222;
    color: red;
}

.project_card_actions buttonRemove:hover {
    background-color: #222;
    color: red;
}

.project_card_actions buttonRemoveProject:hover {
    background-color: #222;
    color: red;
}

.project_card_actions buttonConfirmProject:hover {
    background-color: #222;
    color: green;
}

.project_card_actions buttonConfirm:hover {
    background-color: #222;
    color: green;
}