.control {
    display: flex;
    flex-direction: column;
    margin: 1 em;
}

.control label {
    margin-bottom: 0.6em;
    margin-top: 1em;
    font-weight: bold;
}

.control textarea {
    padding: .7em;
    border-radius: 0;
    border: none;
    width: 322px;
    resize: none;
    height: 180px;
}

.control textarea::placeholder {
    color: #7b7b7b;
}